<div style="text-align:center">
  <h1>{{ title }}</h1>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name">
      <div *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
        Name is required.
      </div>
    </div>
    <div>
      <label for="surname">Surname:</label>
      <input type="text" id="surname" formControlName="surname">
      <div *ngIf="userForm.get('surname')?.invalid && userForm.get('surname')?.touched">
        Surname is required.
      </div>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email">
      <div *ngIf="userForm.get('email')?.errors?.['email'] && userForm.get('email')?.touched">
        Please enter a valid email address.
      </div>
      <div *ngIf="userForm.get('email')?.errors?.['required'] && userForm.get('email')?.touched">
        Email is required.
      </div>
    </div>
    <div>
      <label for="workingExperience">Working Experience (months):</label>
      <input type="text" id="workingExperience" formControlName="workingExperience">
      <div *ngIf="userForm.get('workingExperience')?.errors?.['numberRequired'] && userForm.get('workingExperience')?.touched">
        Please enter a valid number.
      </div>
      <div *ngIf="userForm.get('workingExperience')?.errors?.['maxDecimalPlaces'] && userForm.get('workingExperience')?.touched">
        Only 1 decimal place is allowed.
      </div>
    </div>
    <button type="button" (click)="resetForm()">Reset</button>
    <button type="submit" [disabled]="userForm.invalid">Submit</button>
  </form>
</div>

