.message-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 500px;
  height: 32px;
  border-radius: 4px;
  opacity: 0; 
  transition: background-color 0.5s ease-out, color 0.5s ease-out, opacity 0.5s ease-out;
}

.message-box.visible {
  opacity: 1; 
}

.info, .error, .success {
  padding: 10px;
  border-radius: 4px;
  color: white;
}

.info {
    background-color: #2196f3;
    transition: background-color 0.5s ease-out;
}
  
.error {
    background-color: #e53935;
    transition: background-color 0.5s ease-out;
}
  
.success {
    background-color: #4caf50;
    transition: background-color 0.5s ease-out;
}

  